@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
    font-family:"SportingGrotesque";
    src: url('SportingGrotesque-Bold.otf') format('truetype')
    }


body {
    background-image: url("background_quads.png");
    background-repeat:repeat-y;
    background-position:top ;
    background-attachment: scroll;
    background-size: cover;
    z-index: 1;
    overflow-x: hidden;
    margin: 0;
    }

#column{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 970px;
    z-index: 3;
    }

p, footer {
    color: #000000;
    font-family:  montserrat, helvetica, arial, sans-serif;
    margin: 9px 0;
    line-height:normal;
    }

a:link, a:visited, a:active{
    color: black;
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    }

ul{
    list-style-type: none;
    line-height: 13px;
    margin: auto;
    color: white;
    font-size: 13px;
    padding: 20px;
    }

#row02{
    text-align: center;
    }

#row02 p{
    margin-top: 40px;
}

header{
    margin: 0 auto 20px;
    padding: 40px 0;
    display: block;
    }


section {
    margin: auto;
    /*width: 50%;*/
    display: block;
    position: relative;
    margin-bottom: 45px;
    }


#main_title{
    text-align: center;
    overflow: auto;
    padding-top: 70px;
    height: 169px;;
    width: 628px;
    margin: auto;
    background-image: url("paper_01.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size:contain; 
    z-index: 4;
    }

.title{
    text-align: center;
    overflow: auto;
    position: relative;
    margin: auto;
    margin-top: 100px;
    background-image: url("paper_01.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size:contain; 
    z-index: 4;
    transform: rotate(6deg);
    }

#white .title{
     background-image: url("paper_02.png");
    }

#white h1{
    color:#bdaa9c;
    }

h1 {
    font-family: "SportingGrotesque", verdana;
    font-size: 19pt;
    line-height: 32px;
    color: #08093c;
    }


img{
    z-index: 1;
    width: 100%;
    }


iframe{
    align-content: center;
    display: block;
    margin: auto;
    z-index: 4;
    min-width: 80%;
    min-height: 30vw;
    }

#explanation{
    text-align: left;
    font-size: 16px;
    margin:60px 13% 0;
    }

#explanation p{
    line-height: 23px;
    }


.img_left{
    float: left;
    position: absolute;
    z-index: 4;
    max-width: 30%;
    }

.text_right{
    float: left;
    position: relative;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    margin:40px 10% 0 40%;
    z-index: 4;
    }

.img_right{
    float: right;
    position: relative;
    z-index: 4;
    max-width: 30%;
    }

#links p{
    line-height: 26px;
    }

.text_left{
    float: left;
    position: absolute;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    margin:40px 40% 0 10%;
    z-index: 4;
    }


#row01{
    /*background-color: rgb(255, 100, 100, 0.5);*/
    height: 450px;
    }

.full-width{
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -100px;
    position: absolute;
    right: 50%;
    width: 100vw;
    z-index: 2;
    }

#downloads{
    margin: auto;
    margin-top: 40px;
    max-width: 85%;
    overflow: auto;
    }

#downloads img{
    width: 25%;
    float: left;
    padding: 20px;
    }

footer{
    background-color: rgb(8, 9, 60, 0.8);
    text-align: center;
    /*padding: 20px 0 20px;*/
    margin: auto;
    }

li a:link, li a:visited, li a:active{
    color: white;
    text-decoration: underline;
    }

li a:hover {
    text-decoration: none;
    }

#downloads img:hover{
    width: 24%;
}

@media (max-width: 825px){
    .full-width{
    width: 150vw;
    margin-top: 0;
    }
    }

@media (max-width: 1220px){
    .full-width{
    margin-top: 0;
    }
    }

@media (max-width: 767px){
    header{
    /*background-color: gray;*/
    }
    #main_title{
    width: auto; 
    height: auto;
    padding: 10px;
    background-size:auto; 
    }
    h1{
    font-size: 10pt;
    line-height: 13pt;
    }
    iframe{
    margin: auto;
    top: 0;
    left: 0;
        width: 100%;
    height: 100%;
    }
    #row01{
    height: 650px;
    }
    #explanation {
    margin: 40px auto;
    }
    .full-width{
    display: none;
    }
    .img_left{
    max-width: 70%;
    position: relative;
    margin: auto;
    float: none;
    }
    .img_right{
    max-width: 70%;
    position: relative;
    margin: auto;
    float: none;
    }
    .text_right{
    margin:auto;
    }
    .text_left{
    margin:auto;
    position: relative;
    float: none;
    }
    #row01 h1, #row02 h1{
    font-size: 20px;
    }
    #row02 .title{
    transform: rotate(-6deg);
    }
    #downloads img{
    width: 90%;
    }
    ul{
    line-height: 14px;
    }
}